.container-account {
    display: flex;
}

.main {
    width: 80%;
    padding: 75px 20px 20px 50px ;
    margin-top: 50px;
    background-color: #e5e6e8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.cours {
    background: rgb(237, 239, 241);
    padding: 20px;
    margin: 20px;
    width: 70%;
    border-radius: 20px;
}

h2 {
    margin-bottom: 20px;
}

.seeMore {
    text-decoration: underline;
}

li {
    list-style: none;
}

.sideBar {
    padding: 180px 20px 20px 50px ;
    background-color: rgb(237, 239, 241);
    border-left: solid 1px black;
    width: 220px;
}

.sideBar ul li {
    padding: 10px;
    font-weight: 700;
}

.sideBar ul {
    position: fixed;
}

